.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.primary-heading {
  font-size: 64px;
  line-height: 80px;
  width: 99%;
  margin-bottom: 24px;
}

.head-2 {
  font-size: 28px;
  line-height: 32px;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 900;
  /* identical to box height, or 114% */
  letter-spacing: -0.05em;
  /* Dark Grey */

  color: #333333;
  align-self: flex-start;
}

.btn {
  margin-bottom: 270px;
  width: 100%;
}
.logout {
  position: fixed;
  top: 40px;
  right: 10px;
  width: 120px;
  background: #9a2bdf;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
}
